*{
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;

}
#banner3{
        background: url('../images/background-p5.jpg'); 
         background-size: cover;               
        }

    .logo{
        width:200px;
        position: sticky;
        left: 85%;
        }

        .dropbtn {
            background-color: rgb(4, 86, 209);
            color: #000;
            text-shadow: 1px 1px 2px rgb(0, 4, 255), 0 0 1em rgb(60, 255, 0), 0 0 0.2em rgb(21, 255, 0);
            font-weight: bolder;
            padding: 16px;
            font-size: 20px;
            border: .5px solid #f7f7f8;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(80, 236, 8, 0.925);
            min-width: 160px;
            box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            font-weight: bolder;
            display: block;
          }
          
          .dropdown-content a:hover {background-color:rgb(4, 86, 209);}
          
          .dropdown:hover .dropdown-content {display: block;}      
        
    .banner-btn{
        text-align: center;
        margin: 30px auto 5;
        }
    .banner-btn a{
        background:rgb(4, 86, 209);
        width: 150px;
        text-decoration:none;
        display:inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #000;
        border: .5px solid #f7f7f8;
        font-weight: bolder;
        text-shadow: 1px 1px 2px rgb(0, 4, 255), 0 0 1em rgb(60, 255, 0), 0 0 0.2em rgb(21, 255, 0);
        cursor: pointer;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        }
    .banner-btn a:hover{
      color: rgba(80, 236, 8, 0.925);
        }   
    .banner-text h1{
            text-align: center;
            font-size: 5em;
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        } 
        .block {
            display:inline-block;
            width: 400px;
            height: 600px;
            background-color:rgba(236, 80, 8, 0.582);
            padding:10px;
            margin: 25px;
            
        }
        .container {
            text-align:center;
        }
          
        .block img {
           width: 400px;
           height: 350px;
           object-fit: cover;
        }       
      
    
    